.section-title {
  margin: 20px;
  color: red;
  font-size: 18px;
  font-weight: bolder;
}

.slider-item {
  position: relative;
  margin: 20px;
  padding: 5px;
}

.slider-item img {
  border-radius: 4px;
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.slider-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(128, 128, 128, 0.7);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.5s;
  border-radius: 4px; 
}

.slider-item:hover .slider-overlay {
  opacity: 1;
}

.movie-title {
  margin-bottom: 10px;
  text-align: center;
}

.play-now-btn {
  padding: 10px 20px;
  background-image: linear-gradient(to right, #f14317, #f6701d);
  border: none;
  cursor: pointer;
  color: white;
  border-radius: 4px;
}

@media (max-width: 1024px) {
  .slider-item {
      margin: 15px;
  }
}

@media (max-width: 600px) {
  .slider-item {
      margin: 10px;
  }
  .slider-item img {
      height: 150px;
  }
  .play-now-btn {
      padding: 8px 16px;
  }
  .section-title {
      font-size: 15px;
  }
}

@media (max-width: 480px) {
  .slider-item {
      margin: 5px;
  }
  .slider-item img {
      height: 120px;
  }
  p {
      font-size: 10px;
  }
  .play-now-btn {
      padding: 4px 12px;
      font-size: 9px;
  }
  .section-title {
      font-size: 15px;
  }


}

.actors-section .slider-item img {
  border-radius: 50%; 

  width: 250px;
  height: 250px;
  object-fit: cover;
}

.actors-section .slider-item .slider-overlay {
  border-radius: 50%; 
margin-left: 3px;
margin-top:4px;
  width: 255px;
  height: 250px;
}


@media (max-width: 600px) {
  .slider-item {
    margin: 10px;
  }
  .actors-section .slider-item img,
  .actors-section .slider-item .slider-overlay {
    width: 150px; 
    height: 150px;
    border-radius: 50%;
  }
  .play-now-btn {
    padding: 8px 16px;
  }
  .section-title {
    font-size: 15px;
  }
}

@media (max-width: 480px) {
  .slider-item {
    margin: 5px;
  }
  .actors-section .slider-item img {
    width: 120px; 
    height: 120px; 
    border-radius: 50%;
  }
  .actors-section .slider-item .slider-overlay{

    width: 123px; 
    height: 120px; 
    margin-top:5px;
    margin-left: 3px;
    border-radius: 50%;
  }
  p {
    font-size: 10px;
  }
  .play-now-btn {
    padding: 4px 12px;
    font-size: 9px;
  }
  .section-title {
    font-size: 15px;
  }
}